# Build and Images
build/
*.img
fs.img
xv6OS.img
*.o
*.d
*.asm
*.sym
_*
initcode
initcode.out
bootblock
entryother

# Generated Font and Icons
include/character.h
include/character.c
include/app_icons.h
kernel/app_icons_data.c
kernel/icons_data.c
include/icons.h

# Tools & OS leftovers
mkfs
.DS_Store
.swp
*~
.vscode/
.idea/